.location-main-screen {
    height: 80vh;
    flex-grow: 1;
    display: flex;
}

.location-main-screen .screen {
    margin: auto;
    height: 20vh;
    width: 45vw;
    background-color: darkgrey;
    border-color: lightgrey dimgray dimgray lightgrey;
    border-style: solid;
    border-width: 0.8vh;
    line-height: 20vh;

}

.location-main-screen .screen p {
    font-size: 15vh;
    text-align: center;
}
