button, .btn {
    height: 10vh;
    width: 10vh;
    background-color: darkgrey;
    border-color: lightgrey dimgray dimgray lightgrey;
    border-style: solid;
    border-width: 0.8vh;
}

button:active, .btn:active {
    border-color: dimgray lightgrey lightgrey dimgray;
}
