.article-main-screen {
    height: 80vh;
    flex-grow: 1;
    display: flex;
}

.article-main-screen .screen {
    margin: auto;
    height: 20vh;
    width: 45vw;
    background-color: darkgrey;
    border-color: lightgrey dimgray dimgray lightgrey;
    border-style: solid;
    border-width: 0.8vh;
    line-height: 15vh;
}

.article-main-screen .screen-name{
    display: flex;
    justify-content: center;
    font-size: 3vh;
    line-height: 3vh;
    text-transform: uppercase;
    padding: 2vh 0 0;
}

.article-main-screen .screen p {
    font-size: 12vh;
    text-align: center;
}
