.article-right-panel {
    display: flex;
    flex-flow: wrap;
    width: calc((80vh / 6) * 3);
}

.article-right-panel button {
    font-size: 4vh;
    font-weight: bold;
    text-transform: uppercase;
    height: calc(80vh / 6);
    width: calc(80vh / 6);
}

.article-right-panel .b3,
.article-right-panel .cancel {
    width: calc(80vh / 4);
}

.article-right-panel .ok {
    width: calc((80vh / 6)*2);
}
