button {
    height: 10vh;
    width: 10vh;
    background-color: darkgrey;
    border-color: lightgrey dimgray dimgray lightgrey;
    border-style: solid;
    border-width: 0.8vh;
}

.btn.hidden {
    font-size: 0;
}

button:not(.hidden):active {
    border-color: dimgray lightgrey lightgrey dimgray;
}
