.location-left-panel {
    display: flex;
    flex-direction: column;
}

.location-left-panel button {
    height: calc(80vh / 6);
    width: calc(80vh / 6);
    font-size: 4vh;
    font-weight: bold;
    text-transform: uppercase;
}

.location-left-panel .a {
    background-color: palevioletred;
}

.location-left-panel .b {
    background-color: palegoldenrod;
}

.location-left-panel .c {
    background-color: palegreen;
}

.location-left-panel .d {
    background-color: paleturquoise;
}
